h4.text-danger Quelques chiffres
ul
  li 2 500 personnes et 1500 familles aidées aux pays
  li 9 000 heures de conseils à la ligne d’aide

h4.text-danger Services du Bec
ul
  li Ligne d’aide 24/7 : gestion de carrière, soutien psychologique, planification financière, aide juridique avec des spécialistes dans votre ville ou par téléphone.
  li Chat et ressources en ligne à www.workhealthlife.com  en choisissant NABS en tant qu’organisation.
  li Aide financière d’urgence

h4.text-danger Comment ça fonctionne
p
| Quelle que soit votre demande, le BEC s’efforcera d’y trouver une solution: rédaction de CV, recherche d’emploi, bilan de compétences, aide psychologique, mais aussi dans des cas urgents: paiement de loyer, cartes d’épicerie... Le service est complètement personnalisé pour répondre à vos besoins et confidentiel.

hr

.text-danger Un coup de fil au 1-888-355-5548
p Appelez à la ligne d'aide afin de discuter de vos besoins avec un professionnel.

.text-danger  Des ressources appropriées
p Une fois vos besoins bien déterminés, nous vous guiderons vers les ressources appropriées ou nous vous donnerons un rendez-vous avec un spécialiste de votre région.


.text-danger De l'aide à deux pas de chez vous
p C'est l'heure de votre rendez-vous personnalisé (par téléphone ou en personne, dépendamment des services). Nous souhaitons que notre aide aura un impact positif sur votre vie !

p
| Pour se financer, plusieurs activités de levées de fonds sont organisées chaque année par l’organisme: vente de média à rabais, bal en noir, tournoi de volleyball de plage, boutique éphémère de Noël... Le BEC existe depuis 2004 et est le chapitre québécois de l’organisme pancanadien NABS.
br
| Pour plus d’informations, consultez leur site internet:
a href="https://le-bec.org/" target="_blank"  https://le-bec.org/
