
h4.text-danger Que signifie Sintaxis?
p
| La manière fondamentale de vivre pleinement et d’apprendre de nouvelles cultures passe toujours par la langue. Sintaxis est le mot espagnol pour "Syntax", une expression grammaticale pour la construction de phrases.

h4.text-danger École
p
| Nous sommes une fondation amicale, organisée et à cœur ouvert. Nos étudiants rentrent chez eux avec une impression réelle et durable de l'Amérique du Sud.

h4.text-danger Sintaxis propose:
ul
  li Un emplacement central, ce qui en fait le lieu idéal pour étudier l'espagnol
  li Des professeurs d'espagnol soigneusement sélectionnés, qualifiés et expérimentés.
  li Hébergement soigneusement sélectionné.
  li Excursions culturelles et autres activités de temps libre.
  li Flexibilité, afin d'obtenir la satisfaction du client et développer de nouveaux programmes.

h4.text-danger Tours
p
| En juin 2006, nous avons commencé à offrir de nouveaux services via Sintaxis Tours. Sur notre site Web, vous pouvez choisir entre des excursions d’une ou deux journées au départ de Quito, des excursions sur le continent équatorien, des visites des Galapagos ou des excursions dans la jungle (forêt ombrophile).

h4.text-danger Contactez
= avatar_link_to_user('enriqueguzman', {class: 'ui image mini-avatar right spaced'})
=< link_to_user('enriqueguzman')
