h4.text-danger What does Sintaxis mean?
p
| The fundamental way to fully experience and learn about new cultures is always through the language. Sintaxis is the Spanish word for "Syntax", which is a grammatical expression for the construction of phrases.

h4.text-danger School
p
| We are a friendly, well-organized and open-hearted foundation. Our students return home with a real and lasting impression of South America.

h4.text-danger Sintaxis offers:
ul
  li A central location, making it the ideal place to study Spanish
  li Carefully selected, qualified and experienced teachers of Spanish.
  li Carefully selected home stay accommodation.
  li Cultural excursions and other free time activities.
  li Flexibility, in order to achieve customer satisfaction and develop new programs.

h4.text-danger Tours
p
| In June 2006 we have started offering new services through Sintaxis Tours. Through our website, you can choose from one or two days excursions from Quito, round trips on the mainland of Ecuador, Galapagos tours, or trips to the jungle (rain forest).

h4.text-danger Contact
= avatar_link_to_user('enriqueguzman', {class: 'ui image mini-avatar right spaced'})
=< link_to_user('enriqueguzman')
