---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.list
    body:
      encoding: UTF-8
      string: cursor&limit=10&presence=true&token=xoxp-15156829334-15156829350-249520324900-25f1372f7a3e3508c09b9dd5c516fa11
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Router:
      - p
      X-Slack-Req-Id:
      - 85115b53-e80c-4e13-a2ae-d3b3c8d02703
      X-Oauth-Scopes:
      - read,client,admin,identify,post,apps
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Slack-Exp:
      - '1'
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-egoz
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"offset":"U0R0TAM0C","members":[{"id":"USLACKBOT","team_id":"T0F4LQD9U","name":"slackbot","deleted":false,"color":"757575","real_name":"slackbot","tz":null,"tz_label":"Pacific
        Standard Time","tz_offset":-28800,"profile":{"title":"","phone":"","skype":"","real_name":"slackbot","real_name_normalized":"slackbot","display_name":"slackbot","display_name_normalized":"slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv1444671949","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/0180\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/7f1a0\/plugins\/slackbot\/assets\/service_32.png","image_48":"https:\/\/a.slack-edge.com\/7f1a0\/plugins\/slackbot\/assets\/service_48.png","image_72":"https:\/\/a.slack-edge.com\/0180\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/66f9\/img\/slackbot_192.png","image_512":"https:\/\/a.slack-edge.com\/1801\/img\/slackbot_512.png","status_text_canonical":"","team":"T0F4LQD9U"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"U0F4LQDAA","team_id":"T0F4LQD9U","name":"pl","deleted":false,"color":"9f69e7","real_name":"Pierre-Luc
        Thivierge","tz":"America\/New_York","tz_label":"Eastern Standard Time","tz_offset":-18000,"profile":{"title":"https:\/\/collabmachine.com\/users\/pl","phone":"514-237-1731","skype":"arnouff","real_name":"Pierre-Luc
        Thivierge","real_name_normalized":"Pierre-Luc Thivierge","display_name":"pl","display_name_normalized":"pl","status_text":"","status_emoji":":fortune_cookie:","status_expiration":0,"avatar_hash":"6ffac9ed9a0a","image_original":"https:\/\/avatars.slack-edge.com\/2016-02-16\/21626132982_6ffac9ed9a0a14ff68ab_original.jpg","email":"pl@collabmachine.com","first_name":"Pierre-Luc","last_name":"Thivierge","image_24":"https:\/\/avatars.slack-edge.com\/2016-02-16\/21626132982_6ffac9ed9a0a14ff68ab_24.jpg","image_32":"https:\/\/avatars.slack-edge.com\/2016-02-16\/21626132982_6ffac9ed9a0a14ff68ab_32.jpg","image_48":"https:\/\/avatars.slack-edge.com\/2016-02-16\/21626132982_6ffac9ed9a0a14ff68ab_48.jpg","image_72":"https:\/\/avatars.slack-edge.com\/2016-02-16\/21626132982_6ffac9ed9a0a14ff68ab_72.jpg","image_192":"https:\/\/avatars.slack-edge.com\/2016-02-16\/21626132982_6ffac9ed9a0a14ff68ab_192.jpg","image_512":"https:\/\/avatars.slack-edge.com\/2016-02-16\/21626132982_6ffac9ed9a0a14ff68ab_512.jpg","image_1024":"https:\/\/avatars.slack-edge.com\/2016-02-16\/21626132982_6ffac9ed9a0a14ff68ab_512.jpg","status_text_canonical":"","team":"T0F4LQD9U","is_custom_image":true},"is_admin":true,"is_owner":true,"is_primary_owner":true,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":1541814740,"has_2fa":false,"presence":"active"},{"id":"U0F4R5PD4","team_id":"T0F4LQD9U","name":"juliestlo","deleted":false,"color":"4bbe2e","real_name":"Julie
        St-Laurent","tz":"America\/Indiana\/Indianapolis","tz_label":"Eastern Standard
        Time","tz_offset":-18000,"profile":{"title":"","phone":"","skype":"","real_name":"Julie
        St-Laurent","real_name_normalized":"Julie St-Laurent","display_name":"juliestlo","display_name_normalized":"juliestlo","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash[...]
[...]
- request:
    method: post
    uri: https://slack.com/api/users.list
    body:
      encoding: UTF-8
      string: cursor=dXNlcjpVNjZEUEs1Sk0%3D&limit=10&presence=true&token=xoxp-15156829334-15156829350-249520324900-25f1372f7a3e3508c09b9dd5c516fa11
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Router:
      - p
      X-Slack-Req-Id:
      - bfe80a66-92c5-43da-b6d6-16b8e932219b
      X-Oauth-Scopes:
      - read,client,admin,identify,post,apps
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Slack-Exp:
      - '1'
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-zuny
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"offset":"U7JH5HV24","members":[{"id":"U66DPK5JM","team_id":"T0F4LQD9U","name":"polly","deleted":false,"color":"bd9336","real_name":"Polly","tz":"America\/Los_Angeles","tz_label":"Pacific
        Standard Time","tz_offset":-28800,"profile":{"title":"","phone":"","skype":"","real_name":"Polly","real_name_normalized":"Polly","display_name":"polly","display_name_normalized":"polly","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"2a5e6b3682cc","bot_id":"B66AGEASC","api_app_id":"A04E6JX41","always_active":true,"image_original":"https:\/\/avatars.slack-edge.com\/2017-11-14\/272403871380_2a5e6b3682cc3fbeb90c_original.png","first_name":"Polly","last_name":"","image_24":"https:\/\/avatars.slack-edge.com\/2017-11-14\/272403871380_2a5e6b3682cc3fbeb90c_24.png","image_32":"https:\/\/avatars.slack-edge.com\/2017-11-14\/272403871380_2a5e6b3682cc3fbeb90c_32.png","image_48":"https:\/\/avatars.slack-edge.com\/2017-11-14\/272403871380_2a5e6b3682cc3fbeb90c_48.png","image_72":"https:\[...]
[...]
