---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: success_url=http%3A%2F%2Ftest.host%2Fsubscription_checkouts%2Fsuccess%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Ftest.host%2Fsubscription_checkouts%2Fcancel%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&customer=<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>&payment_method_types[0]=card&subscription_data[metadata][type]=cm_access_level_subscription&subscription_data[metadata][created_by_cm_user_id]=714&line_items[0][price]=<TEST_PREMIUM_SUBSCRIPTION_PRICE_ID>&line_items[0][quantity]=1&mode=subscription
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_a1D5TVTj2Y5Bi3elLxXoElfPPJbSooKBJPZiC8YpencFWLe1QDp9SiznYO",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 2000,
          "amount_total": 2000,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://test.host/subscription_checkouts/cancel?session_id={CHECKOUT_SESSION_ID}",
          "client_reference_id": null,
          "consent": null,
          "consent_collection": null,
          "currency": "cad",
          "customer": "<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>",
          "customer_details": {
            "email": "client@example.com",
            "tax_exempt": null,
            "tax_ids": null
          },
          "customer_email": null,
          "expires_at": 1633117322,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "subscription",
          "payment_intent": null,
          "payment_method_options": null,
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "recovered_from": null,
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "submit_type": null,
          "subscription": null,
          "success_url": "http://test.host/subscription_checkouts/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": "https://checkout.stripe.com/pay/cs_test_a1D5TVTj2Y5Bi3elLxXoElfPPJbSooKBJPZiC8YpencFWLe1QDp9SiznYO#fidkdWxOYHwnPyd1blpxYHZxWjRRfHRjMGpfUnNQdWIwbzVrPEB%2FMjZcQCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Thu, 30 Sep 2021 19:42:02 GMT
recorded_with: VCR 6.0.0
