---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/<TEST_STRIPE_CONNECT_PROFILE_UID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - "<TEST_STRIPE_CONNECT_PROFILE_UID>"
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "<TEST_STRIPE_CONNECT_PROFILE_UID>",
          "object": "account",
          "business_logo": null,
          "business_logo_large": null,
          "business_primary_color": null,
          "capabilities": {
            "bancontact_payments": "active",
            "card_payments": "active",
            "eps_payments": "active",
            "giropay_payments": "active",
            "ideal_payments": "active",
            "p24_payments": "active",
            "platform_payments": "active",
            "sepa_debit_payments": "active",
            "sofort_payments": "active"
          },
          "charges_enabled": true,
          "country": "CA",
          "default_currency": "cad",
          "details_submitted": true,
          "display_name": "Masoud",
          "future_verification": {
            "disabled_reason": null,
            "due_by": null,
            "errors": [

            ],
            "fields_needed": [

            ],
            "pending_verification": [

            ]
          },
          "payouts_enabled": true,
          "statement_descriptor": "CHOOSE...",
          "statement_descriptor_kana": null,
          "statement_descriptor_kanji": null,
          "statement_descriptor_prefix": "CHOOSE...",
          "timezone": "Etc/UTC",
          "type": "standard",
          "verification": {
            "disabled_reason": null,
            "due_by": null,
            "errors": [

            ],
            "fields_needed": [
              "legal_entity.verification.document"
            ],
            "pending_verification": [

            ]
          }
        }
  recorded_at: Tue, 14 Sep 2021 16:30:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITH_SOURCE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "<TEST_STRIPE_CUSTOMER_ID_WITH_SOURCE>",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1629330704,
          "currency": null,
          "default_source": "card_1JZeWbFiUwJySKD8VHg9jV9Z",
          "delinquent": false,
          "description": "client_user",
          "discount": null,
          "email": "client@example.com",
          "invoice_prefix": "C2BFF138",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1JZeWbFiUwJySKD8VHg9jV9Z",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "MasterCard",
                "country": "US",
                "customer": "<TEST_STRIPE_CUSTOMER_ID_WITH_SOURCE>",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 9,
                "exp_year": 2022,
                "fingerprint": "hHOukrcOyfZWYvRU",
                "funding": "credit",
                "last4": "4444",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITH_SOURCE>/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITH_SOURCE>/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITH_SOURCE>/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Tue, 14 Sep 2021 16:30:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=10000&currency=CAD&confirm=true&customer=<TEST_STRIPE_CUSTOMER_ID_WITH_SOURCE>&payment_method=card_1JZeWbFiUwJySKD8VHg9jV9Z&description=CollabMachine+Order+%231930759d-a154-4a1a-9e3e-9fa0207615bf&metadata[cm_order_id]=1930759d-a154-4a1a-9e3e-9fa0207615bf
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_3JZeWdFiUwJySKD80yyGQ76X",
          "object": "payment_intent",
          "allowed_source_types": [
            "card"
          ],
          "amount": 10000,
          "amount_capturable": 0,
          "amount_received": 10000,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_3JZeWdFiUwJySKD804WancV7",
                "object": "charge",
                "amount": 10000,
                "amount_captured": 10000,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_3JZeWdFiUwJySKD80kjGbxEi",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "COLLABMACHINE.COM",
                "captured": true,
                "created": 1631637027,
                "currency": "cad",
                "customer": "<TEST_STRIPE_CUSTOMER_ID_WITH_SOURCE>",
                "description": "CollabMachine Order #1930759d-a154-4a1a-9e3e-9fa0207615bf",
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                  "cm_order_id": "1930759d-a154-4a1a-9e3e-9fa0207615bf"
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 52,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_3JZeWdFiUwJySKD80yyGQ76X",
                "payment_method": "card_1JZeWbFiUwJySKD8VHg9jV9Z",
                "payment_method_details": {
                  "card": {
                    "brand": "mastercard",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 9,
                    "exp_year": 2022,
                    "fingerprint": "hHOukrcOyfZWYvRU",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4444",
                    "network": "mastercard",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": "client@example.com",
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1CNsEJFiUwJySKD8/ch_3JZeWdFiUwJySKD804WancV7/rcpt_KE6kBkvLx4O2ctrQ1K8h4sFUXlOLHBp",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_3JZeWdFiUwJySKD804WancV7/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_3JZeWdFiUwJySKD80yyGQ76X"
          },
          "client_secret": "pi_3JZeWdFiUwJySKD80yyGQ76X_secret_LjxHz1YlbLqJHtsmVsWKZQPTs",
          "confirmation_method": "automatic",
          "created": 1631637027,
          "currency": "cad",
          "customer": "<TEST_STRIPE_CUSTOMER_ID_WITH_SOURCE>",
          "description": "CollabMachine Order #1930759d-a154-4a1a-9e3e-9fa0207615bf",
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
            "cm_order_id": "1930759d-a154-4a1a-9e3e-9fa0207615bf"
          },
          "next_action": null,
          "next_source_action": null,
          "on_behalf_of": null,
          "payment_method": "card_1JZeWbFiUwJySKD8VHg9jV9Z",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": "client@example.com",
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Sep 2021 16:30:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/balance_transactions/txn_3JZeWdFiUwJySKD80kjGbxEi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "txn_3JZeWdFiUwJySKD80kjGbxEi",
          "object": "balance_transaction",
          "amount": 10000,
          "available_on": 1632182400,
          "created": 1631637027,
          "currency": "cad",
          "description": "CollabMachine Order #1930759d-a154-4a1a-9e3e-9fa0207615bf",
          "exchange_rate": null,
          "fee": 380,
          "fee_details": [
            {
              "amount": 380,
              "application": null,
              "currency": "cad",
              "description": "Stripe processing fees",
              "type": "stripe_fee"
            }
          ],
          "net": 9620,
          "reporting_category": "charge",
          "source": "ch_3JZeWdFiUwJySKD804WancV7",
          "status": "pending",
          "type": "charge"
        }
  recorded_at: Tue, 14 Sep 2021 16:30:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: amount=9620&currency=CAD&destination=<TEST_STRIPE_CONNECT_PROFILE_UID>&description=Payout+for+CollabMachine+Order%231930759d-a154-4a1a-9e3e-9fa0207615bf&metadata[cm_order_id]=1930759d-a154-4a1a-9e3e-9fa0207615bf&source_transaction=ch_3JZeWdFiUwJySKD804WancV7
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_3JZeWdFiUwJySKD80SjFYxBJ",
          "object": "transfer",
          "amount": 9620,
          "amount_reversed": 0,
          "balance_transaction": "txn_3JZeWdFiUwJySKD80b7By28d",
          "created": 1631637028,
          "currency": "cad",
          "description": "Payout for CollabMachine Order#1930759d-a154-4a1a-9e3e-9fa0207615bf",
          "destination": "<TEST_STRIPE_CONNECT_PROFILE_UID>",
          "destination_payment": "py_1JZeWeImLCgNPewX14IwVJA7",
          "livemode": false,
          "metadata": {
            "cm_order_id": "1930759d-a154-4a1a-9e3e-9fa0207615bf"
          },
          "reversals": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_3JZeWdFiUwJySKD80SjFYxBJ/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_3JZeWdFiUwJySKD804WancV7",
          "source_type": "card",
          "transfer_group": "group_pi_3JZeWdFiUwJySKD80yyGQ76X"
        }
  recorded_at: Tue, 14 Sep 2021 16:30:29 GMT
recorded_with: VCR 6.0.0
