---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?email=newcustomer@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_qUOfWwQUAGiM3d8KcxQkN0sn
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1J2zDlImLCgNPewX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1J2zDlImLCgNPewX
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [

          ],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Wed, 21 Jul 2021 17:14:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=johndoe&email=newcustomer%40example.com
    headers:
      Authorization:
      - Bearer sk_test_qUOfWwQUAGiM3d8KcxQkN0sn
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1J2zDlImLCgNPewX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1J2zDlImLCgNPewX
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JtW1AgQ0hLnHQj",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1626887654,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "johndoe",
          "discount": null,
          "email": "newcustomer@example.com",
          "invoice_prefix": "76F0BD8D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JtW1AgQ0hLnHQj/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JtW1AgQ0hLnHQj/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JtW1AgQ0hLnHQj/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Wed, 21 Jul 2021 17:14:14 GMT
recorded_with: VCR 6.0.0
