.form-group.col-sm-12
  = f.label :first_name, t('users.first_name').upf + " *"
  = f.text_field :first_name,
    class: 'form-control',
    placeholder: "ex: Maxime",
    required: true,
    autofocus: true

.form-group.col-sm-12
  = f.label :last_name, t('users.last_name').upf + " *"
  = f.text_field :last_name,
    class: 'form-control',
    required: true,
    placeholder: "ex: Lavoie"