---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1HjCKSD4dGRv5T30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1HjCKSD4dGRv5T30
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1HjCKSD4dGRv5T30",
          "object": "account",
          "business_logo": null,
          "business_logo_large": null,
          "business_primary_color": null,
          "capabilities": {
          },
          "charges_enabled": false,
          "country": "CA",
          "default_currency": "cad",
          "details_submitted": false,
          "display_name": null,
          "future_verification": {
            "disabled_reason": null,
            "due_by": null,
            "errors": [

            ],
            "fields_needed": [

            ],
            "pending_verification": [

            ]
          },
          "payouts_enabled": false,
          "statement_descriptor": null,
          "statement_descriptor_kana": null,
          "statement_descriptor_kanji": null,
          "timezone": "America/Montreal",
          "type": "standard",
          "verification": {
            "disabled_reason": "fields_needed",
            "due_by": null,
            "errors": [

            ],
            "fields_needed": [
              "business_url",
              "email",
              "external_account",
              "product_description",
              "support_phone",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": [

            ]
          }
        }
  recorded_at: Tue, 14 Sep 2021 16:31:05 GMT
recorded_with: VCR 6.0.0
