<!--
===========================================================================================
THE ONLY 10 SLIDES YOU NEED IN A PITCH
Author: Guy Kawasaki
Source: http://www.inc.com/larry-kim/your-startup-s-pitch-only-needs-these-10-slides.html


1.What is it
2.The Problem
3.The Solution
4.Business Model
5.Underlying Magic
6.Marketing & Sales
7.Competition
8.The Team
9.Projections
10. Statue, Timeline, Momentum


Blank version / template
===========================================================================================
-->

<div class="slide">
  <div class="wrap">
    <h1>
      What is is: TITLE
    </h1>
    <p>
      What it does.
      Provide company name, your name and title
      adress, email and cell number.
    </p>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      THE PROBLEM / THE OPPORTUNITY
    </h1>
    <p>
      Describe the pain that you're alleviating or the pleasure you're providing.
    </p>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      THE SOLUTION
    </h1>
    <p>
      Explain the value of the pain you alleviate or the value of the pleasure you provide.
    </p>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      BUSINESS MODEL
    </h1>
    <p>
      Explain who has your money temporarily in his pocket and how you're going to get it into yours.
    </p>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      UNDERLYING MAGIC
    </h1>
    <p>
      Describe the technology, secret sauce, or magic behind your product. The less text and the more diagrams, schematics, and flowcharts the better. If you have a prototype or demo, this is the time to transition to it. As Glen Shires of Google said, "if a picture is worth 1000 words, a prototype is worth 10 000 slides."
    </p>
  </div>
</div>


<div class="slide">
  <div class="wrap">
    <h1>
      MARKETING & SALES
    </h1>
    <p>
      Explain how you are going to reach your customer without breaking the bank.
    </p>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      COMPETITIVE ANALYSIS
    </h1>
    <p>
      Provide a complete view of the competitive landscape. Too much is than too little.
    </p>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      THE TEAM
    </h1>
    <p>
      Describe the key players of your management team, board of directors, and board of advisors, as well as your major investors. It's okay if you have lass than a perfect team. If your team was perfect, you wouldn't need to be pitching.
    </p>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      FINANCIAL PROJECTIONS AND KEY METRICS
    </h1>
    <p>
      Provide a three-year forecast containing not only dollars but also key metrics, such as number of customers and conversion rate. Do a bottom-up forecast, not top down.
    </p>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      STATUS, TIMELINE, MOMENTUM
    </h1>
    <p>
      Explain the current status of your product, what the near future looks like, and how you'll use the money you're trying to raise.
    </p>
  </div>
</div>

