<div class="slide">
  <div class="wrap">
    <table>
      <tr>
        <td width="40%">
          <%= image_tag 'collab_labo.jpg', width: '100%' %>
          <%= render 'pl_infos' %>
        </td>
        <td>
          <h1>
            <%= title %>
          </h1>
          <h3>
            <%#= sub %>
          </h3>
          <p>
            Une plateforme web et un regroupement de travailleurs autonomes. Votre hub pour réaliser "tout".
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>


<div class="slide">
  <div class="wrap">
    <h1>
      <span class="faded">LE PROBLÈME ></span> l'opportunité
    </h1>
    <table>
      <tr>
        <td width="30%" class="type">
          POURQUOI ?
        </td>
        <td>
          <p>
            Parce que le monde du travail change, parce que le 8 à 5 n'est pas fait pour tout le monde.
          </p>
        </td>
      </tr>
      <tr>
        <td class="type">
          COMMENT ?
        </td>
        <td>
          <p>
            On pense que l'union fait la force. On pense aussi que c'est ensemble qu'on peut se donner des avantages.
          </p>
        </td>
      </tr>
      <tr>
        <td class="type">
          OBJECTIF ?
        </td>
        <td>
          <p>
            Notre objectif : Sécuriser le travail autonome et améliorer la qualité de vie des participants.
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      LA SOLUTION
    </h1>
    <ul>
      <li>
        Regroup
      </li>
      <li>
        Structure / Mécanisms
      </li>
      <li>
        Sécurité pour les clients / workers
      </li>
      <li style="list-style:none">
        <ul>
          <li>
            Quality / assurance
          </li>
          <li>
            Stack of tools
          </li>
          <li>
            Comptabilité
          </li>
        </ul>
      </li>
      <li>
        Freedom++
      </li>
    </ul>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      MODÈLE D'AFFAIRES
    </h1>
    <ul>
      <li>memberships</li>
      <li>commissions</li>
      <li>extra-fee for extra-services</li>
      <li>insider data</li>
    </ul>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      LA SAUCE SECRÈTE
    </h1>
    <ul>
      <li>Passion, amour et fierté</li>
      <li>Chacun fait pour lui. Responsiablité fondée et répartie</li>
      <li>La structure, le setup, le système... le processus. Tout est en place pour soutenir les participants, chose que nul ne peut s'offrir à lui seul.</li>
      <li>Ultra inclusif ! (business, head hunters, agencies, solo dudes)</li>
      <li>Levier financier</li>
      <li>Incubation</li>
    </ul>
  </div>
</div>


<div class="slide">
  <div class="wrap">
    <h1>
      MARKETING & VENTES
    </h1>
    <ul>
      <li>Relations directes et bouche à oreille au début</li>
      <li>Invitations et références</li>
    </ul>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      ANALYSE DE LA COMPÉTITION
    </h1>
    <ul>
      <li>Toutes les agences</li>
      <li>Tous les freelancers</li>
      <li>LinkedIn -> vente 26 Milliards</li>
      <li>Freelancer.com</li>
      <li>crew.co</li>
    </ul>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      L'ÉQUIPE
    </h1>
    <table width="100%">
      <tr>
        <th>Principal</th>
        <th>Appui</th>
        <th>Noyeau dur</th>
        <th>Participants</th>
      </tr>
      <tr>
        <td>
          <ul>
            <li>PL (founder)</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Sincu (Coach)</li>
            <li>Alex Sereno</li>
            <li>Louis Fortier</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>David Fréchette</li>
            <li>Jonathan Guertin</li>
            <li>Julie St-Laurent</li>
            <li>Julien Desrosiers</li>
            <li>Simon-Pierre Alepin</li>
            <li>Enrique Guzman (Ecuador)</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Karim Dahou</li>
            <li>Henrick Dimter</li>
            <li>Jonathan Auvray</li>
            <li>Matt Lucas</li>
            <li>Shazan Lefebvre</li>
            <li>Steven Bulhoes</li>
            <li>Annie Verrier</li>
            <li>...</li>
          </ul>
        </td>

      </tr>
    </table>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      PROJECTIONS FINANCIÈRES (todo)
    </h1>
    <p>
      Provide a three-year forecast containing not only dollars but also key metrics, such as number of customers and conversion rate. Do a bottom-up forecast, not top down.
    </p>
  </div>
</div>

<div class="slide">
  <div class="wrap">
    <h1>
      STATUS, TIMELINE, MOMENTUM (todo)
    </h1>
    <p>
      Explain the current status of your product, what the near future looks like, and how you'll use the money you're trying to raise.
    </p>
  </div>
</div>

