h1 Conditions d'utilisation
p
  | Les présentes conditions d'utilisation régissent votre utilisation du site web situé à l'adresse suivante
  a href="https://collabmachine.com"
    |  https://collabmachine.com
  |  et tout service connexe fourni par Collab Machine.
p
  | En accédant
  a href="https://collabmachine.com"
    |  https://collabmachine.com
  |  vous acceptez de respecter les présentes Conditions de service et de vous conformer à toutes les lois et réglementations applicables. Si vous n'êtes pas d'accord avec ces Conditions de service, il vous est interdit d'utiliser ou d'accéder à ce site Web ou d'utiliser tout autre service fourni par Collab Machine.
p Nous, Collab Machine, se réservent le droit de revoir et de modifier les présentes conditions de service à notre seule discrétion. Le cas échéant, nous mettrons cette page à jour. Toute modification des présentes conditions de service prendra effet immédiatement à compter de la date de publication.
p Les présentes conditions d'utilisation ont été mises à jour le 11 août 2022.
h3 Limites d'utilisation
p En utilisant ce site web, vous garantissez, en votre nom, celui de vos utilisateurs et des autres parties que vous représentez, que vous n'allez pas
ol
  li modifier, copier, préparer des œuvres dérivées, décompiler ou désosser tout matériel et logiciel contenu dans ce site web;
  li supprimer tout droit d'auteur ou toute autre mention de propriété de tout matériel et logiciel de ce site web;
  li transférer le matériel à une autre personne ou en faire un "miroir" sur tout autre serveur ;
  li utiliser, sciemment ou par négligence, ce site web ou l'un de ses services associés d'une manière qui abuse ou perturbe nos réseaux ou tout autre service fourni par Collab Machine ;
  li utiliser ce site web ou ses services associés pour transmettre ou publier tout matériel de harcèlement, indécent, obscène, frauduleux ou illégal;
  li utiliser ce site web ou ses services associés en violation de toute loi ou réglementation applicable;
  li
  li utiliser ce site web dans le cadre de l'envoi de publicité non autorisée ou de spam;
  li récolter, collecter ou rassembler des données d'utilisateur sans le consentement de l'utilisateur ; ou
  li utiliser ce site web ou ses services associés d'une manière susceptible de porter atteinte à la vie privée, aux droits de propriété intellectuelle ou à d'autres droits de tiers.
h3 Propriété intellectuelle
p La propriété intellectuelle des documents contenus dans ce site Web appartient à Collab Machine ou lui est concédée sous licence et est protégée par la législation applicable en matière de droits d'auteur et de marques de commerce. Nous accordons à nos utilisateurs l'autorisation de télécharger une copie du matériel pour un usage personnel, non-commercial et transitoire.
p Ceci constitue l'octroi d'une licence, et non un transfert de titre. Cette licence sera automatiquement résiliée si vous violez l'une de ces restrictions ou les Conditions de service, et peut être résiliée par Collab Machine à tout moment.
h3 Contenu généré par l'utilisateur
p Vous conservez vos droits de propriété intellectuelle sur le contenu que vous nous soumettez pour publication sur notre site web. Nous ne revendiquerons jamais la propriété de votre contenu, mais nous avons besoin d'une licence de votre part pour pouvoir l'utiliser.
p Lorsque vous utilisez notre site web ou ses services associés pour publier, télécharger, partager ou transmettre de toute autre manière un contenu couvert par des droits de propriété intellectuelle, vous nous accordez une licence non exclusive, libre de redevances, transférable, pouvant faire l'objet d'une sous-licence et valable dans le monde entier, pour utiliser, distribuer, modifier, exécuter, copier, afficher publiquement, traduire ou créer de toute autre manière des œuvres dérivées de votre contenu d'une manière conforme à vos préférences en matière de confidentialité et à notre politique de confidentialité.
p La licence que vous nous accordez peut être résiliée à tout moment en supprimant votre contenu ou votre compte. Toutefois, dans la mesure où nous (ou nos partenaires) avons utilisé votre contenu dans le cadre d'un contenu commercial ou sponsorisé, la licence sera maintenue jusqu'à ce que nous ayons mis fin à la publicité ou au message en question.
p Vous nous autorisez à utiliser votre nom d'utilisateur et les autres informations d'identification associées à votre compte d'une manière conforme à vos préférences en matière de confidentialité et à notre politique de confidentialité.
h3 Responsabilité civile
p Notre site Web et les documents qu'il contient sont fournis " tels quels ". Dans la mesure permise par la loi, Collab Machine ne donne aucune garantie, expresse ou implicite, et rejette et nie par la présente toute autre garantie, y compris, sans s'y limiter, les garanties ou conditions implicites de qualité marchande, d'adéquation à un usage particulier, ou de non-violation de la propriété intellectuelle, ou toute autre violation des droits.
p En aucun cas Collab Machine ou ses fournisseurs ne pourront être tenus responsables des pertes indirectes subies ou encourues par vous ou par un tiers et résultant de l'utilisation ou de l'incapacité d'utiliser ce site Web ou les documents qu'il contient, même si Collab Machine ou un représentant autorisé a été informé, oralement ou par écrit, de la possibilité de tels dommages.
p Dans le contexte du présent accord, le terme "perte indirecte" comprend toute perte indirecte, perte réelle ou anticipée de profit, perte de bénéfice, perte de revenu, perte d'affaires, perte de clientèle, perte d'opportunité, perte d'épargne, perte de réputation, perte d'utilisation et/ou perte ou corruption de données, que ce soit en vertu d'une loi, d'un contrat, de l'équité, d'un délit (y compris la négligence), d'une indemnité ou autre.
p Étant donné que certaines juridictions n'autorisent pas les limitations de garanties implicites ou les limitations de responsabilité pour les dommages consécutifs ou accidentels, ces limitations peuvent ne pas s'appliquer à vous.
h3 Précision des matériaux
p Les documents figurant sur notre site Web ne sont pas exhaustifs et ne servent qu'à des fins d'information générale. Collab Machine ne donne aucune garantie et ne fait aucune déclaration concernant l'exactitude, les résultats probables ou la fiabilité de l'utilisation du matériel sur ce site Web, ou concernant autrement ce matériel ou toute autre ressource liée à ce site Web.
h3 Liens
p Collab Machine n'a pas examiné tous les sites liés à son site Web et n'est pas responsable du contenu de ces sites. L'inclusion d'un lien ne signifie pas que Collab Machine cautionne, approuve ou contrôle le site en question. L'utilisation d'un tel site est à vos risques et périls et nous vous conseillons vivement de faire vos propres recherches quant à la pertinence de ces sites.
h3 Droit de résiliation
p Nous pouvons suspendre ou mettre fin à votre droit d'utiliser notre site web et résilier les présentes conditions de service immédiatement après vous en avoir informé par écrit pour toute violation des présentes conditions de service.
h3 Indemnité de départ
p Toute clause des présentes conditions d'utilisation qui est entièrement ou partiellement nulle ou inapplicable est supprimée dans la mesure où elle est nulle ou inapplicable. La validité du reste des présentes conditions de service n'est pas affectée.
h3 Loi applicable
p Les présentes conditions de service sont régies et interprétées conformément aux lois du Québec, Canada. Vous vous soumettez irrévocablement à la compétence exclusive des tribunaux de cet État ou de cet endroit.
| Politique relative aux cookies (Cookie Policy)
h2 Politique en matière de cookies
p
  | Nous utilisons des cookies pour améliorer votre expérience sur notre site web à l'adresse suivante.
  a href="https://collabmachine.com"  https://collabmachine.com
  | Cette politique en matière de cookies fait partie de la politique de confidentialité de Collab Machine. Elle couvre l'utilisation des cookies entre votre appareil et notre site.
p Nous fournissons également des informations de base sur les services tiers que nous sommes susceptibles d'utiliser, qui peuvent également utiliser des cookies dans le cadre de leur service. La présente politique ne couvre pas leurs cookies.
p
  | Si vous ne souhaitez pas accepter de cookies de notre part, vous devez indiquer à votre navigateur de refuser les cookies provenant de
  a href="https://collabmachine.com"  https://collabmachine.com
  | Dans ce cas, nous pourrions ne pas être en mesure de vous fournir certains des contenus et services que vous souhaitez.
h3 Qu'est-ce qu'un cookie ?
p Un cookie est un petit élément de données qu'un site web stocke sur votre appareil lors de votre visite. Il contient généralement des informations sur le site web lui-même, un identifiant unique qui permet au site de reconnaître votre navigateur web lorsque vous revenez, des données supplémentaires qui servent l'objectif du cookie, et la durée de vie du cookie lui-même.
p Les cookies sont utilisés pour activer certaines fonctionnalités (par exemple, la connexion), suivre l'utilisation du site (par exemple, l'analyse), stocker vos paramètres d'utilisateur (par exemple, le fuseau horaire, les préférences de notification) et personnaliser votre contenu (par exemple, la publicité, la langue).
p Les cookies définis par le site web que vous visitez sont généralement appelés cookies de première partie. Ils ne suivent généralement que votre activité sur ce site particulier.
p Les cookies définis par d'autres sites et sociétés (c'est-à-dire des tiers) sont appelés cookies tiers Ils peuvent être utilisés pour vous suivre sur d'autres sites web qui utilisent le même service tiers.
h3 Types de cookies et comment nous les utilisons
h4 Cookies essentiels
p Les cookies essentiels sont cruciaux pour votre expérience d'un site web, permettant des fonctionnalités de base comme les connexions des utilisateurs, la gestion des comptes, les paniers d'achat et le traitement des paiements.
p Nous utilisons des cookies essentiels pour permettre certaines fonctions sur notre site web.
h4 Cookies de performance
p Les cookies de performance suivent la façon dont vous utilisez un site web pendant votre visite. Généralement, ces informations sont anonymes et agrégées, les informations étant suivies pour tous les utilisateurs du site. Ils aident les entreprises à comprendre les schémas d'utilisation des visiteurs, à identifier et à diagnostiquer les problèmes ou les erreurs que leurs utilisateurs peuvent rencontrer, et à prendre de meilleures décisions stratégiques pour améliorer l'expérience globale de leur public sur le site web. Ces cookies peuvent être installés par le site web que vous visitez (première partie) ou par des services tiers. Ils ne collectent pas d'informations personnelles vous concernant.
p Nous n'utilisons pas ce type de cookie sur notre site.
h4 Cookies de fonctionnalité
p Les cookies de fonctionnalité sont utilisés pour collecter des informations sur votre appareil et sur les paramètres que vous pouvez configurer sur le site web que vous visitez (comme les paramètres de langue et de fuseau horaire). Grâce à ces informations, les sites web peuvent vous fournir un contenu et des services personnalisés, améliorés ou optimisés. Ces cookies peuvent être installés par le site web que vous visitez (première partie) ou par des services tiers.
p Nous n'utilisons pas ce type de cookie sur notre site.
h4 Cookies de ciblage/publicité
p Les cookies de ciblage/publicité aident à déterminer le contenu promotionnel le plus pertinent et le plus approprié pour vous et vos intérêts. Les sites web peuvent les utiliser pour diffuser des publicités ciblées ou limiter le nombre de fois que vous voyez une publicité. Cela aide les entreprises à améliorer l'efficacité de leurs campagnes et la qualité du contenu qui vous est présenté. Ces cookies peuvent être placés par le site web que vous visitez (first-party) ou par des services tiers. Les cookies de ciblage/publicité définis par des tiers peuvent être utilisés pour vous suivre sur d'autres sites web qui utilisent le même service tiers.
p Nous n'utilisons pas ce type de cookie sur notre site.
| Politique d'utilisation acceptable (Acceptable Use Policy)
h2 Politique d'utilisation acceptable
p Cette politique d'utilisation acceptable couvre les produits, services et technologies (collectivement appelés les "Produits") fournis par Collab Machine dans le cadre de tout accord en cours. Elle est conçue pour nous protéger, ainsi que nos clients et la communauté Internet en général, contre les activités contraires à l'éthique, irresponsables et illégales.
p Les clients de Collab Machine qui se livrent à des activités interdites par la présente politique d'utilisation acceptable s'exposent à la suspension du service et à la résiliation du compte. Dans des cas extrêmes, nous pouvons être légalement obligés de signaler ces clients aux autorités compétentes.
p Cette politique a été révisée pour la dernière fois le 11 août 2022.
h3 Usage loyal
p Nous fournissons nos installations en partant du principe que vous les utiliserez de manière habituelle, conformément à notre programme d'offres. Si votre utilisation est considérée comme excessive, des frais supplémentaires peuvent être facturés ou la capacité peut être limitée.
p Nous sommes opposés à toute forme d'abus, de discrimination, de violation des droits et/ou à toute action qui porte atteinte ou désavantage un groupe, un individu ou une ressource. Nous attendons de nos clients et, le cas échéant, de leurs utilisateurs ("utilisateurs finaux") qu'ils utilisent nos produits avec la même intention.
h3 Responsabilité du client
p Nous considérons que nos clients sont responsables de leurs propres actions ainsi que des actions de toute personne utilisant nos produits avec l'autorisation du client. Cette responsabilité s'applique également à toute personne utilisant nos produits de manière non autorisée en raison de l'incapacité du client à mettre en place des mesures de sécurité raisonnables.
p En acceptant nos produits, nos clients acceptent de garantir le respect de cette politique au nom de toute personne utilisant les produits en tant qu'utilisateur final. Les plaintes concernant les actions des clients ou de leurs utilisateurs finaux seront transmises au contact désigné pour le compte en question.
p Si un client - ou son utilisateur final ou toute personne utilisant nos produits du fait du client - enfreint notre politique d'utilisation acceptable, nous nous réservons le droit de résilier tout produit associé au compte incriminé ou le compte lui-même ou de prendre toute mesure corrective ou préventive que nous jugeons appropriée, sans préavis. Dans la mesure permise par la loi, aucun crédit ne sera disponible pour les interruptions de service résultant de toute violation de notre politique d'utilisation acceptable.
h3 Activité interdite
h4 Copyright infringement and access to unauthorized material
p Nos produits ne doivent pas être utilisés pour transmettre, distribuer ou stocker tout matériel en violation de toute loi applicable. Ceci inclut, mais n'est pas limité à :
ol type="i"
  li tout matériel protégé par un droit d'auteur, une marque de commerce, un secret commercial ou tout autre droit de propriété intellectuelle utilisé sans autorisation appropriée, et
  li tout matériel obscène, diffamatoire, constituant une menace illégale ou violant les lois sur le contrôle des exportations.
p Le client est seul responsable de tout le matériel qu'il saisit, télécharge, diffuse, transmet, crée ou publie par le biais de nos produits ou sur ceux-ci, et de l'obtention de l'autorisation légale d'utiliser toute œuvre incluse dans ce matériel.
h4 SPAM et activité de messages non autorisés
p Nos produits ne doivent pas être utilisés dans le but d'envoyer des messages commerciaux ou de masse non sollicités, en violation des lois et règlements applicables à votre juridiction ("spam"). Cela inclut, sans s'y limiter, l'envoi de spams, la sollicitation de clients à partir de spams envoyés par d'autres fournisseurs de services et la collecte de réponses à des spams envoyés par d'autres fournisseurs de services.
p Nos produits ne doivent pas être utilisés dans le but de gérer des listes d'adresses ou de numéros de téléphone non confirmés ("listes de messagerie"). Cela inclut, sans s'y limiter, l'inscription d'adresses électroniques ou de numéros de téléphone à toute liste de messagerie sans l'autorisation du propriétaire de l'adresse électronique ou du numéro de téléphone, et le stockage de toute adresse électronique ou de tout numéro de téléphone inscrit de cette manière. Toutes les listes de messagerie gérées ou hébergées par nos produits doivent être "opt-in confirmé". La vérification de l'autorisation expresse du propriétaire de l'adresse ou du numéro de téléphone doit être disponible pour la durée de vie de la liste de messagerie.
p Nous interdisons l'utilisation de listes d'adresses électroniques, de listes de numéros de téléphone ou de bases de données achetées à des tiers à des fins de spam ou de listes de messages non confirmés sur nos produits.
p Cette politique en matière de spam et d'activité de messages non autorisés s'applique aux messages envoyés à l'aide de nos produits, ou aux messages envoyés à partir de n'importe quel réseau par le client ou toute personne au nom du client, qui renvoient directement ou indirectement le destinataire à un site hébergé par nos produits.
h4 Activités non éthiques, d'exploitation et malveillantes
p Nos produits ne doivent pas être utilisés dans le but de faire de la publicité, de transmettre ou de rendre disponible tout logiciel, programme, produit ou service conçu pour violer cette politique d'utilisation acceptable ou la politique d'utilisation acceptable d'autres fournisseurs de services. Cela inclut, sans s'y limiter, la facilitation des moyens d'envoyer des spams et le déclenchement d'attaques par reniflage de réseau, ping, packet spoofing, flooding, mail-bombing et déni de service.
p Nos produits ne doivent pas être utilisés pour accéder à un compte ou à une ressource électronique dont le groupe ou l'individu qui tente d'y accéder n'est pas propriétaire ou n'est pas autorisé à y accéder (par exemple, "hacking", "cracking", "phreaking", etc.).
p Nos produits ne doivent pas être utilisés dans le but d'introduire intentionnellement ou imprudemment des virus ou des codes malveillants dans nos produits et systèmes.
p Nos produits ne doivent pas être utilisés pour s'engager délibérément dans des activités destinées à harceler un autre groupe ou individu. Notre définition du harcèlement inclut, sans s'y limiter, les attaques par déni de service, les discours de haine, la promotion de l'intolérance raciale ou ethnique, et toute activité visant à menacer, abuser, enfreindre les droits de, ou discriminer tout groupe ou individu.
p D'autres activités considérées comme non éthiques, exploitantes et malveillantes comprennent :
ol
  li Obtenir (ou tenter d'obtenir) des services de notre part dans l'intention d'éviter le paiement ;
  li Utiliser nos installations pour obtenir (ou tenter d'obtenir) des services auprès d'un autre prestataire dans l'intention d'éviter le paiement ;
  li L'accès non autorisé, l'altération ou la destruction (ou toute tentative en ce sens) de toute information concernant nos clients ou utilisateurs finaux, par quelque moyen ou dispositif que ce soit ;
  li Utiliser nos installations pour interférer avec l'utilisation de nos installations et de notre réseau par d'autres clients ou des personnes autorisées ;
  li Publier ou transmettre tout contenu ou lien incitant à la violence, décrivant un acte violent, représentant de la pornographie enfantine, ou menaçant la santé et la sécurité de quiconque ;
  li Tout acte ou omission en violation des lois et règlements relatifs à la protection des consommateurs ;
  li Toute violation de la vie privée d'une personne.
p Nos produits ne peuvent être utilisés par une personne ou une entité impliquée ou soupçonnée d'être impliquée dans des activités ou des causes liées aux jeux d'argent illégaux, au terrorisme, au trafic de stupéfiants, au trafic d'armes ou à la prolifération, au développement, à la conception, à la fabrication, à la production, au stockage ou à l'utilisation d'armes nucléaires, chimiques ou biologiques, d'armes de destruction massive ou de missiles, y compris, dans chaque cas, toute affiliation avec d'autres personnes qui soutiennent ces activités ou ces causes.
h4 Utilisation non autorisée de la propriété de Collab Machine
p Nous interdisons l'usurpation d'identité de Collab Machine, la représentation d'une relation d'affaires importante avec Collab Machine, ou la propriété de tout bien de Collab Machine (y compris nos produits et notre marque) dans le but d'obtenir frauduleusement un service, une coutume, un patronage ou la confiance des utilisateurs.
h3 À propos de cette politique
p Cette politique présente une liste non exclusive d'activités et d'intentions que nous jugeons inacceptables et incompatibles avec notre marque.
p Nous nous réservons le droit de modifier cette politique à tout moment en publiant la version révisée sur notre site web. La version révisée entrera en vigueur à la date la plus proche :
ul
  li la date à laquelle le client utilise nos produits après que nous avons publié la version révisée sur notre site web ; ou
  li 30 jours après que nous ayons publié la version révisée sur notre site web.
