.container
  .row
    .col-md-6.col-md-offset-3.text-center.text-lg

      .embed-box.font-larger
        h1.text-center Mastermind Point de Bascule©
        br
        br


        p Le Mastermind Point de Bascule© revient cet hiver. C'est un groupe de propulsion mutuelle pour participants sélectionnés.

        = image_tag 'dashboard/MMPB-terre-saturne.png', class: 'full-width m-b-lg block'

        p C’est un espace-temps dédié à l'intelligence collective et à la pollinisation croisée. Prenez 8 participants, un mix de talents et de dirigeants d'entreprise, vous les faites se réunir 2h/semaine pendant 12 semaines sous les bons soins de <a href="https://laurencebozec.com/" target="_blank">Laurence Bozec</a> et de l'équipe dans un processus pensé pour faire basculer les business de chacun.

        p Chaque membre est propulsé vers l'atteinte de son objectif d'importance et participe à l’atteinte du Point de Bascule des autres membres de son groupe.


        p Vous obtenez :
        ul
          li des entrepreneurs qui font basculer leur vision et s'autorisent à voir plus grand
          li des entrepreneurs qui font prendre un virage à leur business qu'ils n'osaient pas avant
          li des entrepreneurs qui "closent la baleine"!

        p En bonus : 2 rencontres individuelles réparties dans le round, avec un Préparateur de Point de Bascule et un spécialiste des leviers-clés du changement


        p C'est une formule inédite pour ceux qui croient en la force du collectif et en la puissance du réseau. Les résultats sont tout simplement formidables pour chacun.


        p Le Mastermind Point de Bascule© :
        ul
          li "c’est de l'intelligence collective au service de l’entrepreneur unique."
          li "m'a permis de relativiser, m'a apporté du lâcher-prise. Sans le Mastermind Point de Bascule©, j'aurai foncé droit dans le mur, droit vers l'épuisement."
          li "m'a ouvert les yeux sur des pistes qui seraient sinon restées inexplorées."
          li "m'a permis de faire le pas de côté qui va me permettre de revenir par la grande porte."
          li "c'est l'empêcheur de tourner en rond et de se prendre un mur."
          li J'ai appris beaucoup en donnant et en recevant. J'ai découvert à ma surprise qu'on parcours comme ça apporte énormément de bénéfices.

        p Prochaine bascule à l’hiver 2022.

        p Consultez les documents ci-bas pour avoir toute l'information.

        h2 Prenez l'initiative de basculer du bon coté!

        p
          span 🎥
          =< link_to 'Le vidéo explicatif', "https://drive.google.com/file/d/19FqYhv4XrErMEB8NMvbZmUYyAjHrWzvk/view?usp=sharing", target: '_blank', class: 'underline'

        p
          span📗
          =< link_to 'Tout sur le Point de bascule...', "https://docs.google.com/document/u/0/d/1TVx18YF0uENOgSLMmFj61-nOh3i013nZwlb7p5Rgb1Y", target: '_blank', class: 'underline'

        br
        h2.text-center Envie de faire partie de la prochaine cohorte?
        p.text-center
          =< link_to "Je fais le test maintenant!", "https://docs.google.com/forms/d/e/1FAIpQLSf_be-SVi9Yu0WkvJesjkdl_4-bFWiv1vSUZSh7s95x36JeQg/viewform", target: '_blank', class: 'btn btn-danger btn-lg m-t-lg'

        br
        br
        br
        br