---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=240000&currency=CAD&confirm=true&customer=cus_Jg51gxAIfpx22a&description=Transaction+ID%3A+1+--+john1%40example.com+just+paid+the+invoice+1+for+%242000.0
    headers:
      Authorization:
      - Bearer sk_test_qUOfWwQUAGiM3d8KcxQkN0sn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1JDua4FiUwJySKD8XnPeGzi5",
          "object": "payment_intent",
          "allowed_source_types": [
            "card"
          ],
          "amount": 240000,
          "amount_capturable": 0,
          "amount_received": 240000,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1JDua4FiUwJySKD8enbq8KbZ",
                "object": "charge",
                "amount": 240000,
                "amount_captured": 240000,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_1JDua4FiUwJySKD86w2vN88Y",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": "12345",
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "COLLABMACHINE.COM",
                "captured": true,
                "created": 1626455528,
                "currency": "cad",
                "customer": "cus_Jg51gxAIfpx22a",
                "description": "Transaction ID: 1 -- john1@example.com just paid the invoice 1 for $2000.0",
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 63,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1JDua4FiUwJySKD8XnPeGzi5",
                "payment_method": "card_1J2ynlFiUwJySKD8kZ40NctA",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": "pass",
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 4,
                    "exp_year": 2022,
                    "fingerprint": "wfneDVrNGDlI6Y6S",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": "masoud.arabi2030@gmail.com",
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1CNsEJFiUwJySKD8/ch_1JDua4FiUwJySKD8enbq8KbZ/rcpt_JrdrZW7D6QF6K9FJavXi4juAlsF94X5",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1JDua4FiUwJySKD8enbq8KbZ/refunds"
                },
                "review": null,
                "shipping": null,
                "source": {
                  "id": "card_1J2ynlFiUwJySKD8kZ40NctA",
                  "object": "card",
                  "address_city": null,
                  "address_country": null,
                  "address_line1": null,
                  "address_line1_check": null,
                  "address_line2": null,
                  "address_state": null,
                  "address_zip": "12345",
                  "address_zip_check": "pass",
                  "brand": "Visa",
                  "country": "US",
                  "customer": "cus_Jg51gxAIfpx22a",
                  "cvc_check": null,
                  "dynamic_last4": null,
                  "exp_month": 4,
                  "exp_year": 2022,
                  "fingerprint": "wfneDVrNGDlI6Y6S",
                  "funding": "credit",
                  "last4": "4242",
                  "metadata": {
                  },
                  "name": null,
                  "tokenization_method": null
                },
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1JDua4FiUwJySKD8XnPeGzi5"
          },
          "client_secret": "pi_1JDua4FiUwJySKD8XnPeGzi5_secret_MqR8aA8i3z3cpMGBlkI179Fbr",
          "confirmation_method": "automatic",
          "created": 1626455528,
          "currency": "cad",
          "customer": "cus_Jg51gxAIfpx22a",
          "description": "Transaction ID: 1 -- john1@example.com just paid the invoice 1 for $2000.0",
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "next_source_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": "masoud.arabi2030@gmail.com",
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": "card_1J2ynlFiUwJySKD8kZ40NctA",
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 16 Jul 2021 17:12:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: UTF-8
      string: amount=200000&currency=cad&destination=acct_1J2zDlImLCgNPewX&source_transaction=ch_1JDua4FiUwJySKD8enbq8KbZ
    headers:
      Authorization:
      - Bearer sk_test_qUOfWwQUAGiM3d8KcxQkN0sn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_1JDua5FiUwJySKD8P89bGYRs",
          "object": "transfer",
          "amount": 200000,
          "amount_reversed": 0,
          "balance_transaction": "txn_1JDua5FiUwJySKD8zrigdSUZ",
          "created": 1626455529,
          "currency": "cad",
          "description": null,
          "destination": "acct_1J2zDlImLCgNPewX",
          "destination_payment": "py_1JDua5ImLCgNPewXyPHuNiGQ",
          "livemode": false,
          "metadata": {
          },
          "reversals": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/transfers/tr_1JDua5FiUwJySKD8P89bGYRs/reversals"
          },
          "reversed": false,
          "source_transaction": "ch_1JDua4FiUwJySKD8enbq8KbZ",
          "source_type": "card",
          "transfer_group": "group_pi_1JDua4FiUwJySKD8XnPeGzi5"
        }
  recorded_at: Fri, 16 Jul 2021 17:12:10 GMT
recorded_with: VCR 6.0.0
