---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: customer=1
    headers:
      Authorization:
      - Bearer sk_test_qUOfWwQUAGiM3d8KcxQkN0sn
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_181KcoGexD8kAx91
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_181KcoGexD8kAx91
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: 1",
            "param": "customer",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 20 Jan 2019 21:39:20 GMT
recorded_with: VCR 4.0.0
