---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=johndoe&email=john28%40example.com
    headers:
      Authorization:
      - Bearer sk_test_qUOfWwQUAGiM3d8KcxQkN0sn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_DX4GWw1MOHoUyj",
          "object": "customer",
          "account_balance": 0,
          "created": 1535912195,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "johndoe",
          "discount": null,
          "email": "john28@example.com",
          "invoice_prefix": "6227B8D",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DX4GWw1MOHoUyj/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_DX4GWw1MOHoUyj/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Sun, 02 Sep 2018 18:16:35 GMT
[...]
