---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITHOUT_SOURCE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such customer: '<TEST_STRIPE_CUSTOMER_ID_WITHOUT_SOURCE>'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_R8LQXmbXYKWP34?t=1667772511",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 06 Nov 2022 22:08:31 GMT
recorded_with: VCR 6.0.0
