---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Expand:
      - subscriptions
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1633028769,
          "currency": "usd",
          "default_source": "card_1JfUa5FiUwJySKD84IrGnRzb",
          "delinquent": false,
          "description": "(created by Stripe CLI)",
          "discount": null,
          "email": null,
          "invoice_prefix": "6B755900",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 2,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1JfUa5FiUwJySKD84IrGnRzb",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 9,
                "exp_year": 2022,
                "fingerprint": "wfneDVrNGDlI6Y6S",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Thu, 30 Sep 2021 19:22:29 GMT
recorded_with: VCR 6.0.0
