---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=johndoe&email=john2%40example.com
    headers:
      Authorization:
      - Bearer sk_test_qUOfWwQUAGiM3d8KcxQkN0sn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_E6g2tGgO3HorIT",
          "object": "customer",
          "account_balance": 0,
          "created": 1544125115,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "johndoe",
          "discount": null,
          "email": "john2@example.com",
          "invoice_prefix": "E1B1553",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_E6g2tGgO3HorIT/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_E6g2tGgO3HorIT/subscriptions"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Thu, 06 Dec 2018 19:38:35 GMT
[...]
