---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Expand:
      - subscriptions
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1633012372,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "client",
          "discount": null,
          "email": "client@example.com",
          "invoice_prefix": "E7DE94A1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITHOUT_ACTIVE_SUBSCRIPTION>/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Thu, 30 Sep 2021 19:56:37 GMT
recorded_with: VCR 6.0.0
