---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=johndoe&email=john1%40example.com
    headers:
      Authorization:
      - Bearer sk_test_qUOfWwQUAGiM3d8KcxQkN0sn
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Dx0AEMHOBO3SaL",
          "object": "customer",
          "account_balance": 0,
          "created": 1541893628,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "johndoe",
          "discount": null,
          "email": "john1@example.com",
          "invoice_prefix": "640458B",
          "livemode": false,
          "metadata": {
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

