---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1HjCKSD4dGRv5T30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2022-08-01'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "account_invalid",
            "doc_url": "https://stripe.com/docs/error-codes/account-invalid",
            "message": "The provided key 'sk_test_qU******************N0sn' does not have access to account 'acct_1HjCKSD4dGRv5T30' (or that account does not exist). Application access may have been revoked.",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Sun, 06 Nov 2022 22:09:28 GMT
recorded_with: VCR 6.0.0
