---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITH_ACTIVE_SUBSCRIPTION>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Expand:
      - subscriptions
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-10-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "<TEST_STRIPE_CUSTOMER_ID_WITH_ACTIVE_SUBSCRIPTION>",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1633012370,
          "currency": "cad",
          "default_source": null,
          "delinquent": false,
          "description": "freemium",
          "discount": null,
          "email": "freemium@example.com",
          "invoice_prefix": "40D2F9F2",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 3,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITH_ACTIVE_SUBSCRIPTION>/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_1JfUd2FiUwJySKD8M3DdxUoB",
                "object": "subscription",
                "application_fee_percent": null,
                "automatic_tax": {
                  "enabled": false
                },
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1633028952,
                "billing_thresholds": null,
                "cancel_at": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "collection_method": "charge_automatically",
                "created": 1633028952,
                "current_period_end": 1635620952,
                "current_period_start": 1633028952,
                "customer": "<TEST_STRIPE_CUSTOMER_ID_WITH_ACTIVE_SUBSCRIPTION>",
                "days_until_due": null,
                "default_payment_method": "pm_1JfQoUFiUwJySKD8A3KdE5xY",
                "default_source": null,
                "default_tax_rates": [

                ],
                "discount": null,
                "ended_at": null,
                "invoice_customer_balance_settings": {
                  "consume_applied_balance_on_void": true
                },
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_KK8uTCox9jHpJa",
                      "object": "subscription_item",
                      "billing_thresholds": null,
                      "created": 1633028953,
                      "metadata": {
                      },
                      "plan": {
                        "id": "<TEST_PREMIUM_SUBSCRIPTION_PRICE_ID>",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 2000,
                        "amount_decimal": "2000",
                        "billing_scheme": "per_unit",
                        "created": 1633013059,
                        "currency": "cad",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "nickname": null,
                        "product": "prod_KK4dNEH0jaigQ2",
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "price": {
                        "id": "<TEST_PREMIUM_SUBSCRIPTION_PRICE_ID>",
                        "object": "price",
                        "active": true,
                        "billing_scheme": "per_unit",
                        "created": 1633013059,
                        "currency": "cad",
                        "livemode": false,
                        "lookup_key": null,
                        "metadata": {
                        },
                        "nickname": null,
                        "product": "prod_KK4dNEH0jaigQ2",
                        "recurring": {
                          "aggregate_usage": null,
                          "interval": "month",
                          "interval_count": 1,
                          "trial_period_days": null,
                          "usage_type": "licensed"
                        },
                        "tax_behavior": "unspecified",
                        "tiers_mode": null,
                        "transform_quantity": null,
                        "type": "recurring",
                        "unit_amount": 2000,
                        "unit_amount_decimal": "2000"
                      },
                      "quantity": 1,
                      "subscription": "sub_1JfUd2FiUwJySKD8M3DdxUoB",
                      "tax_rates": [

                      ]
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_1JfUd2FiUwJySKD8M3DdxUoB"
                },
                "latest_invoice": "in_1JfUd2FiUwJySKD8HKOH2bBt",
                "livemode": false,
                "metadata": {
                  "type": "cm_access_level_subscription",
                  "created_by_cm_user_id": "32"
                },
                "next_pending_invoice_item_invoice": null,
                "pause_collection": null,
                "payment_settings": {
                  "payment_method_options": null,
                  "payment_method_types": null
                },
                "pending_invoice_item_interval": null,
                "pending_setup_intent": null,
                "pending_update": null,
                "plan": {
                  "id": "<TEST_PREMIUM_SUBSCRIPTION_PRICE_ID>",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 2000,
                  "amount_decimal": "2000",
                  "billing_scheme": "per_unit",
                  "created": 1633013059,
                  "currency": "cad",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": null,
                  "product": "prod_KK4dNEH0jaigQ2",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "schedule": null,
                "start": 1633028952,
                "start_date": 1633028952,
                "status": "active",
                "tax_percent": null,
                "transfer_data": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITH_ACTIVE_SUBSCRIPTION>/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/<TEST_STRIPE_CUSTOMER_ID_WITH_ACTIVE_SUBSCRIPTION>/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Thu, 30 Sep 2021 20:01:42 GMT
recorded_with: VCR 6.0.0
